{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Models List
{% endblock title %}

{% block main--content %}
<main>
  <div class="models-page">
    <div class="models-items-container">
      {% for model in models %}
      <a href="{% url 'models_details' model.id %}" class="link-style">
        <div class="model-item-container">
          <div class="item-left-part">
            <img class="model-item-img" src="{{ model.image.url }}" alt="{{ model.title }}" />
          </div>
          <div class="item-middle-part">
            <div class="company">{{ model.title }}</div>
            <div class="model_details">
              {{ model.description|truncatewords:30 }}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock main--content %}
