* {
  box-sizing: border-box;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.gallery_container {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.gallery_containers {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width:700px) {
  .gallery_container {
    width: 49.99999%;
    margin: 6pc 0;
  }
}

@media only screen and (max-width:500px) {
  .gallery_container {
    width: 100%;
  }
}