{% extends 'app/base.html' %} 
{% load static %}

{% block title %}
About
{% endblock title %}



{% block main--content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3>Add to Gallery</h3>
      <hr>
      <form method="post" enctype="multipart/form-data" class="shadow p-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    </div>
  </div>
</div>

{% endblock main--content %}